.App{
  display: flex;
  background-color: rgba(220,220,240, 0.6);  
  height:100vh;
  justify-content: center;
  align-items: center;

}
.imageWrapper{
  height: 400px;
  width: 400px;
  background-color:  rgba(100, 100, 100, 0.2);
  border-radius: 10%;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  /* padding:7px; */

}

.imageWrapper .image{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10%;
}
.errorText{
  color: red;
  font-size: 1.3rem;
  margin:0 5px 0 5px;
}


.loading{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.loading::after{
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid rgba(220, 240, 230, 0.8);
  border-top-color: rgba(100,200, 100, 0.8);
  animation: loading 1s linear infinite;
 
}

@keyframes loading {
  to{
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 450px){
  .imageWrapper{
    height: 350px;
    width: 350px;
  }
  }


